@import  "reset.css ";

body{
  background: black;
}

.squares {
  position: relative;
}

.yellow{
  position: absolute;
  background-color: yellow;
  height: 10vw;
  width: 70vw;
  left: 10vw;
  top: -1vw;
  z-index: 99;
}

.blue{
  position: absolute;
  background-color: blue;
  height: 10vw;
  width: 70vw;
  top: 158vw;
  z-index: 99;
}


.square1 {
  position: absolute;
  background-color: white;
  height: 1vw;
  width: 100vw;
  top: 46vw;
  left: 0vw;
  z-index: 30;
}

.square2 {
  position: absolute;
  background-color: white;
  height: 1vw;
  width: 100vw;
  padding: 0px;
  top: 86vw;
  left: 0vw;
  z-index: 30;
}

.square3 {
  position: absolute;
  background-color: white;
  height: 1vw;
  width: 100vw;
  top: 125vw;
  left: 0vw;
  z-index: 30;
}
.square4 {
  position: absolute;
  background-color: black;
  height: 35vw;
  width: 100vw;
  top: 9vw;
  left: 0vw;
  z-index: 10;
}


.square5 {
  position: absolute;
  background-color: black;
  height: 39vw;
  width: 100vw;
  top: 46vw;
  left: 0vw;
  z-index: 20;
}

.square6 {
  position: absolute;
  background-color: black;
  height: 37vw;
  width: 100vw;
  top: 87vw;
  left: 0vw;
  z-index: 25;
}

.square7 {
  position: absolute;
  background-color: black;
  height: 36vw;
  width: 100vw;
  top: 126vw;
  left: 0vw;
  z-index: 30;
}


.redyellow {
  position: absolute;
  transform: rotate(270deg);
  top: -7vw;
  left: 69vw;
  z-index: 17;

}

.ellipseyellow {
  position: absolute;
  transform: rotate(270deg);
  top: 15.5vw;
  left: 16vw;
  z-index: 15;

}

.ellipseblue {
  position: absolute;
  transform: rotate(270deg);
  width: 230px;
  top: 52vw;
  left: 53vw;
  z-index: 23;
}

.ellipsered {
  position: absolute;
  transform: rotate(270deg);
  width: 140px;
  top: 111.3vw;
  left: 19vw;
  z-index: 27;
}

.planetyellow {
  position: absolute;
  transform: rotate(90deg);
  width: 300px;
  top: 133vw;
  left: 62vw;
  z-index: 35;
}

.bluered {
  position: absolute;
  transform: rotate(90deg);
  width: 28vw;
  top: -32vw;
  left: 52vw;
  z-index: 13;
}

.bluered2 {
  position: absolute;
  transform: rotate(90deg);
  opacity: 0;
  width: 28vw;
  top: -32vw;
  left: 52vw;
  z-index: 15;
}

.ellipseyellow2 {
  position: absolute;
  transform: rotate(270deg);
  width: 170px;
  top: 61vw;
  left: 12vw;
  z-index: 23;
}

.blueyellow {
  position: absolute;
  transform: rotate(270deg);
  width: 208px;
  top: 94.3vw;
  left: 56vw;
  z-index: 27;
}


.ellipsered2 {
  position: absolute;
  transform: rotate(270deg);
  width: 120px;
  top: 141vw;
  left: 26vw;
  z-index: 35;
}

.ellipsered3 {
  position: absolute;
  transform: rotate(90deg);
  width: 10vw;
  top: -6vw;
  left: 16vw;
  z-index: 15;
}

/* .ellipsered2 {
  position: absolute;
  transform: rotate(90deg);
  width: 140px;
  top: 20vw;
  left: 19vw;
  z-index: 30;
} */

/* @media (min-width: 1280px) and (max-width: 1920px){

  div{
    transform: rotate(0deg);
  }

  .line1 {
    transform: translateX(24vw);
  }

  .line2 {
    transform: translateX(48vw);
  }

  .line3 {
    transform: translateX(73vw);
  }

  .redyellow {
    transform: rotate(0deg) translateY(-64vw) translateX(16.8vw);

  }

  .ellipseyellow {
    transform: rotate(0deg) translateY(-41vw) translateX(-8vw);

  }

  .ellipseblue {
    transform: rotate(0deg) translateY(-55vw) translateX(32.3vw);

  }

  .ellipsered {
    transform: rotate(0deg) translateY(-49vw) translateX(49.7vw);

  }

  .planetyellow {
    transform: rotate(0deg) translateY(-28vw) translateX(24.6vw);

  } */
